<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digimon Reccomendation Just4You</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Tangerine|Sofia' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
</head>
<body>
    <middle>
        <style type="text/css">
        body{
            background-image : url(https://i.imgur.com/TzNgirJ.png);
            background-position : center ;
            background-size: cover ;
        }
        </style>
    </middle>
    <center>
        <h1>DIGIMON ADVENTURE'</h1>
        <br>
        </br>
        <form method ="POST" action="http://127.0.0.1:5000/hasil">
            <input type="text" name="nama" placeholder="Masukkan nama Digimonmu..."/>
            <input type="submit" value="Cari">
        </form>
    </center>
    
</body>
</html>